<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

    <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    </th:block>
    <th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script defer th:src="@{/js/user/join.js}"></script>
    </th:block>

<div layout:fragment="content">
    <h2>회원가입</h2>
    <form method="post" onsubmit="return false;" id="join-form">
        <input type="text" placeholder="id" name="id">
        <input type="text" placeholder="pw" name="pw">
        <input type="text" placeholder="nick" name="nick">
        <input type="button" id="join-submit" onclick="join();" value="회원가입" >
    </form>

</div>


</html>